.navbar {
  border: 1px solid rgba(255, 255, 255, 0.31);
  background: #5c4f0570;
  box-shadow: 0px 2px 19.5px 0px rgba(219, 184, 0, 0.2);
  backdrop-filter: blur(14.5px);
  position: fixed;
  width: 90%;
  top: 40px;
  margin: auto;
  z-index: 9999;
}
.nav_child1{
  align-items:center;
}
.nav_child1 > div > p:nth-child(1) {
  color: #ffc603;
  leading-trim: both;
  text-edge: cap;
  font-family: Arial, sans-serif;
  font-size: 16.003px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.56px;
}
.nav_child1>div:nth-child(2)>p:nth-child(2) {
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 8.729px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 10.213px;
}
.nav_links > div > a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.5px;
  

}
.nav_links > button {
 
    width: 187px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F9D326;
    color: #000;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 16.5px;
    font-style: normal;
    
}
.main > .left_unionicon {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 40px;
  left: -40px;
  animation: moving 1.5s ease-in-out infinite alternate;
}
@keyframes moving {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

.main>.right_penta {
  position: absolute;
  bottom: 0;
  right: -120px;
  width: 250px;
  height: 250px;
  transform: rotate(9.375deg);
  flex-shrink: 0;
  animation: moving 1.5s ease-in-out infinite alternate;
}

.last {
  width: 1024px;
}
.last > p {
  color: #FDFFE3;
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 168%;
 
}

.last > div {
  display: flex;
  padding: 10px 20px 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 2px solid #fff;
  color: #1c1c1c;
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background: linear-gradient(95deg, #fecc00 -2.53%, #fea800 102.53%);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 169.432%;
  cursor: pointer;
  transition: all 0.3s;
}
.last>div:hover{
  box-shadow: 0 0 20px #FECC00;
}
.content {
  width: 943px;
  height: 403px;
  background-image: url(../assets/border.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 150px;
}
.content > .bitverse_bank {
  filter: drop-shadow(0 0 20px rgb(0, 0, 0));
  z-index: 12;
  position: absolute;
  top: 1%;
  left: 23%;
  width: 450px;
  height: 440px;
  animation: movingTop 0.5s ease-out;
}

.content > .star1 {
  position: absolute;
  top: 60px;
  left: 280px;
  width: 40px;
  height: 40px;
  z-index: 13;
}

.content > .star2 {
  position: absolute;
  bottom: 13px;
  left: 42px;
  width: 37px;
  height: 37px;
  z-index: 14;
}

.content > .big_star {
  position: absolute;
  top: 52px;
  right: 196px;
  width: 37px;
  height: 37px;
  z-index: 13;
}

.content > .star_border {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 260px;
  height: 260px;
  z-index: 13;
  animation: moving 1.5s ease-in-out infinite alternate,
    movingLeftIcon 0.5s ease-out;
}
.content > .yellow_border {
  position: absolute;
  top: 300px;
  right: 50px;
  width: 260px;
  height: 260px;
  z-index: 13;
  animation: movingRightIcon 0.5s ease-out, widthInc 0.8s linear;
}
.content2 {
  color: #f0f6fb;
  font-family: Kanit, Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: bold;
  line-height: 144px;
  text-transform: uppercase;
  position: absolute;
  left: 5%;
  bottom: -10%;
}
.content2>p:nth-child(1) {
  z-index: 13;
}

.content2>p:nth-child(2) {
  color: #FECC00;
  z-index: 10;
}
.gateway_text{
  width: 719.529px;
    height: 184.4px;
    flex-shrink: 0;
    fill: #F0F6FB;
    z-index: 11;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: movingLeft 0.5s ease-out;
}
.mainpartext {
    width: 719.529px;
    height: 184.4px;
    flex-shrink: 0;
    fill: #F0F6FB;
    z-index: 11;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: movingLeft 0.5s ease-out;
}
@keyframes movingLeft {
    from{
        opacity: 0;
        left: -100%;
    }
    to{
        opacity: 1;
        left: 10%;
    }
}


/* Responsive */

/* Medium screen styles */
@media screen and (max-width: 1024px) {
  .last {
    width: 90%;
    margin: auto;
  }
}

/* Small screen styles */
@media screen and (max-width: 768px) {
  .navbar {
    width: 80%;
    margin: 0 auto;
  }
  .nav_links>div{
    display:none;
  }
  .nav_links button{
    width:100%;
    margin-left:20px;
    heigh:100%;
    padding:10px 10px 10px 10px;

  }
  .nav_child1 > div > p{
    display:none;
  }
  

  .main > .left_unionicon,
  .main > .right_penta {
    display: none;
  }

  .last > p {
    font-size: 18px;
  }

  .last > div {
    font-size: 14px;
    padding: 8px 16px;
  }

  .content {
    width: 100%;
    margin-top: 80px;
  }

  .content > .bitverse_bank {
    width: 80%;
    left: 10%;
  }

  .content2 {
    font-size: 36px;
    line-height: 1.4;
    left: 2%;
    bottom: -5%;
  }

  .gateway_text {
    width: 80%;
    left: 10%;
  }
}


@media screen and (max-width: 480px) {
  .nav_links button{
    width:90%;
    margin-left:20px;
    heigh:100%;
    padding:5px 10px;
    font-size:15px;

  }

}