.navbar {
  border: 1px solid rgba(255, 255, 255, 0.31);
  background: #5c4f0570;
  box-shadow: 0px 2px 19.5px 0px rgba(219, 184, 0, 0.2);
  backdrop-filter: blur(14.5px);
  position: fixed;
  width: 90%;
  top: 40px;
  margin: auto;
  z-index: 9999;
}
.nav_child1 > div > p:nth-child(1) {
  color: #ffc603;
  leading-trim: both;
  text-edge: cap;
  font-family: Arial, sans-serif;
  font-size: 16.003px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.56px;
}
.nav_links > div > a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.5px;
}
.nav_links > button {
  background: #f9d326;
  width: 187px;
  height: 55px;
  border-radius: 10px;
}
.main > .lefticon {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 40px;
  left: -40px;
  animation: moving 1.5s ease-in-out infinite alternate;
}
@keyframes moving {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

.main > .radialshadow {
  width: 200px;
  height: 50%;
  position: absolute;
  bottom: 50px;
  right: -100px;
  border-radius: 1125px;
  background: radial-gradient(
    circle,
    rgba(228, 87, 0, 0.3) 0%,
    rgba(255, 249, 122, 0.1) 0%,
    rgba(228, 153, 0, 0.2) 1%
  );
  filter: blur(59.150001525878906px);
}
.main>.righticon {
  position: absolute;
  bottom: 0;
  right: -120px;
  width: 250px;
  height: 250px;
  transform: rotate(9.375deg);
  flex-shrink: 0;
  animation: moving 1.5s ease-in-out infinite alternate;
}

.last {
  width: 1024px;
}
.last > p {
  color: #FDFFE3;
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 168%;
 
}

.last > div {
  display: flex;
  padding: 10px 20px 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 2px solid #fff;
  color: #1c1c1c;
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background: linear-gradient(95deg, #fecc00 -2.53%, #fea800 102.53%);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 169.432%;
  cursor: pointer;
  transition: all 0.3s;
}
.content {
  width: 943px;
  height: 403px;
  background-image: url(../assets/border.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 150px;
}
.content > .bitverse_bank {
  filter: drop-shadow(0 0 20px rgb(0, 0, 0));
  z-index: 12;
  position: absolute;
  top: 1%;
  left: 23%;
  width: 450px;
  height: 440px;
  animation: movingTop 0.5s ease-out;
}

.content > .star1 {
  position: absolute;
  top: 60px;
  left: 280px;
  width: 40px;
  height: 40px;
  z-index: 13;
}

.content > .star2 {
  position: absolute;
  bottom: 13px;
  left: 42px;
  width: 37px;
  height: 37px;
  z-index: 14;
}

.content > .big_star {
  position: absolute;
  top: 52px;
  right: 196px;
  width: 37px;
  height: 37px;
  z-index: 13;
}

.content > .star_border {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 260px;
  height: 260px;
  z-index: 13;
  animation: moving 1.5s ease-in-out infinite alternate,
    movingLeftIcon 0.5s ease-out;
}
.content > .yellow_border {
  position: absolute;
  top: 300px;
  right: 50px;
  width: 260px;
  height: 260px;
  z-index: 13;
  animation: movingRightIcon 0.5s ease-out, widthInc 0.8s linear;
}
.content2 {
  color: #f0f6fb;
  font-family: Kanit, Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: bold;
  line-height: 144px;
  text-transform: uppercase;
  position: absolute;
  left: 5%;
  bottom: -10%;
  animation: movingRight 0.5s ease-out;
}
.content2>p:nth-child(1) {
  z-index: 13;
}

.content2>p:nth-child(2) {
  color: #FECC00;
  z-index: 10;
}